{% extends 'base.html.twig' %}

{%  block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1 class="mb-4 text-center">{{ sortie.nom }}</h1>

    <table class="table table-bordered table-striped w-75 mx-auto">
        <tbody>
        <tr>
            <th>Date de début</th>
            <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Durée</th>
            <td>{{ sortie.duree }} minutes</td>
        </tr>
        <tr>
            <th>Date limite d'inscription</th>
            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Nombre maximum d'inscriptions</th>
            <td>{{ sortie.nbInscriptionMax }}</td>
        </tr>
        <tr>
            <th>Informations</th>
            <td>{{ sortie.infoSortie }}</td>
        </tr>
        <tr>
            <th>État</th>
            <td>{{ sortie.etat.value }}</td>
        </tr>
        <tr>
            <th>Site</th>
            <td>
                {% if sortie.site %}
                    {{ sortie.site.nom }}
                {% else %}
                    <em>Aucun site associé</em>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Lieu</th>
            <td>
                {% if sortie.lieu %}
                    {{ sortie.lieu.nom }}
                {% else %}
                    <em>Aucun lieu associé</em>
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>
    {% if app.user %}
        <div class="text-center mt-4">
            <form method="post" action="{{ path('sortie_inscrire', {'id': sortie.id}) }}">
                <button type="submit" class="btn btn-success btn-lg">
                    S'inscrire à cette sortie
                </button>
            </form>
            {% if sortie.etat.value == 'Créée' and (app.user == sortie.organisateur or app.user.administrateur) %}
                <div class="text-center mt-4">
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="btn btn-warning btn-lg">
                        Modifier la sortie
                    </a>
                </div>
            {% endif %}


        </div>
        {% if app.user and (app.user == sortie.organisateur or app.user.administrateur) and sortie.etat != constant('App\\Enum\\Etat::CANCELLED')  %}
            <div class="text-center mt-4">
                <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class="btn btn-danger btn-lg">
                    Annuler la sortie
                </a>
            </div>
        {% endif %}

    {% else %}
        <p class="text-center mt-4">Vous devez être connecté pour vous inscrire.</p>
    {% endif %}
    {% if sortie.participants|length > 0 %}
        <h2 class="mt-5 text-center">Participants inscrits</h2>
        <ul class="list-group w-50 mx-auto mb-5">
            {% for participant in sortie.participants %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('app_profil_participant', {id: participant.id}) }}">
                        {{ participant.pseudo ?? participant.prenom ~ ' ' ~ participant.nom }}
                    </a>
                    <span class="badge bg-primary rounded-pill">Inscrit</span>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
    {% if app.user and app.user.administrateur %}

        <div class="text-center mt-5">
            <h3>Importer des participants via CSV</h3>
            {{ form_start(form) }}
            {{ form_widget(form['csv_file']) }}
            <button type="submit" class="btn btn-success btn-lg">Importer le fichier</button>
            {{ form_end(form) }}
        </div>
    {% endif %}


{% endblock %}